@import '../../../assets/Dimensions.scss';
@import '../../../assets/Colors.scss';

header {
    background-color: transparent;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: $halfBasicSpace;
    a {
        text-decoration: none;
        font-family: monospace;
        text-transform: none;
        text-align: center;
        figure {
            margin: 0;
            &:hover {
                svg {
                    background-color: $secondary;
                }
            }
            svg {
                background-color: transparent;
            }
            figcaption {
                color: $primary;
                font-size: 20px;
            }
            img.logo {
                width: 150px;
                height: auto;
            }
        }
    }
}
