@import '../assets/Dimensions.scss';

.product {
    margin: $basicSpace auto;
    display: flex;
    gap: 10%;
    figure {
        width: 40%;
        img {
            width: 100%;
        }
    }
    aside {
        width: 60%;
        .shop-buttons-wrapper {
            display: flex;
            align-items: center;
            gap: $basicSpace;
            margin-top: $basicSpace;
        }
    }
}
