@import '../../../assets/Dimensions.scss';
@import '../../../assets/Colors.scss';

.cart {
    color: #333;
    right: $smallSpace;
    top: $smallSpace;
    z-index: 2;
    cursor: pointer;
    &:hover {
        svg {
            path {
                color: $primary;
            }
        }
    }
    span {
        color: $primary;
        font-family: monospace;
        top: 10px;
        font-size: 80%;
        text-align: right;
        right: 100%;
        position: absolute;
    }
}
.shopping-cart {
    color: #333;
}
