@import '../../../assets/Dimensions.scss';
@import '../../../assets/Colors.scss';

.cart {
    color: #333;
    right: 1.5em;
    top: $smallSpace;
    z-index: 2;
    cursor: pointer;
    span {
        color: $primary;
        font-family: monospace;
        margin-top: 10px;
        font-size: 80%;
    }
}
.shopping-cart {
    color: #333;
}
