@import './Dimensions.scss';
@import './Colors.scss';

section {
    text-align: left;
    max-width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
}

figcaption {
    color: $primary;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

button {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 10px 5px;
    line-height: 1.5;
    &:hover {
        outline: 1px solid #92278f;
    }
}

// @keyframes App-logo-spin {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }
