@import './Dimensions.scss';
@import './Colors.scss';

section {
    text-align: left;
    max-width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
}

// figcaption {
//     color: $primary;
//     font-size: 18px;
// }

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

button {
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 10px 5px;
    line-height: 1.5;
    //border: 1px solid transparent;
    &:hover {
        border: 2px solid $primary;
        border-radius: 4px;
        color: $primary;
    }
}

hr.style1 {
    border-top: 1px dashed #8c8b8b;
}

hr.style2 {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
    &::after {
        content: '';
        display: block;
        margin-top: 2px;
        border-top: 1px solid #8c8b8b;
        border-bottom: 1px solid #fff;
    }
}

// @keyframes App-logo-spin {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }
