@font-face {
  font-family: kaldrmaCube;
  src: url("/fonts/Cube.ttf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
main {
  max-width: 960px;
  margin: 0 auto;
  section {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    article {
      margin-bottom: 2em;
      a {
        text-decoration: none;
      }
      img {
        width: 100%;
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2em;
  h1 {
    font-size: 30px;
    a {
      color: black;
      font-family: kaldrmaCube;
      text-decoration: none;
      font-weight: 100;
      opacity: 0.5;
      transition: all 0.5s;
      span {
        color: #ff5722;
      }
      &:hover {
        opacity: 1;
        transition: all 0.5s;
      }
    }
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
