@font-face {
  font-family: kaldrmaCube;
  src: url("/fonts/Cube.ttf");
}
@font-face {
  font-family: kaldrmaLavirint;
  src: url("/fonts/Lavirint.ttf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main {
  max-width: 960px;
  margin: 0 auto;
  section {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    article {
      margin-bottom: 2em;
      button {
        margin: 0 auto;
      }
      a {
        text-decoration: none;
        &:hover {
          opacity: 0.9;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2em;
  h1 {
    font-size: 30px;
    a {
      color: black;
      font-family: kaldrmaCube;
      text-decoration: none;
      font-weight: 100;
      opacity: 0.5;
      transition: all 0.5s;
      span {
        color: #ff5722;
      }
      &:hover {
        opacity: 1;
        transition: all 0.5s;
      }
    }
  }
}

button {
  display: flex;
  align-items: center;
  padding: 5px 16px;
  background-color: rgba(255, 152, 0, 0.25);
  cursor: pointer;
  box-shadow: 2px 2px 0px 1px #333;
  border-radius: 2px;
  border: 1px solid #333;
  &:hover {
    box-shadow: 1px 1px 0px 0px #333 !important;
    position: relative;
    top: 1px;
    left: 1px;
  }
  i {
    margin-right: 5px;
  }
  //   .gg-math-plus {
  //     /* This value will multiple the actual size  */
  //     --ggs: 0.7;
  //   }
}

footer {
  border-top: 1px solid #eee;
  padding: 2em 0;
  a {
    // font-family: kaldrmaLavirint;
    text-decoration: none;
    color: black;
    opacity: 0.7;
    transition: all 0.5s;
    img {
      width: 70px;
    }
    span {
      opacity: 0.7;
      display: block;
      //   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      //     "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      //     "Helvetica Neue", sans-serif;
      font-size: 14.5px;
      margin-top: -5px;
    }
    &:hover {
      opacity: 1;
      transition: all 0.5s;
    }
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
